body{
  align-items: center;
}
/* LA CABEZERA */
header{
  background-color: rgba(61, 61, 61, 0.301);
}

footer{
  color: white;
  display: flex;
  margin-top: 8%;
 
  background-color: darkslategrey;
}
.carousel-inner {
    height: auto;
    overflow: hidden; /* Oculta cualquier cosa que se salga del contenedor */
  }
.text-izquierda{
    text-align: left;
  }
.text-centrar{
    text-align: center;
  }
.text-derecha{
  text-align: right;
}

h1{
   font-family: "Outfit", sans-serif;
   font-optical-sizing: auto;
   font-weight: 350;
   font-size: 40px;
   font-style: normal;
}
h2{
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  font-size: 35px;
  font-style: normal;
}
h3{
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  font-size: 30px;
  font-style: normal;
}

  .carousel-inner img {
    height: 100%;
    width: 10;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

/* CAROUSEL DE LAS FOTOS DE MIS JUEGOS
AQUI LO MANIPULO EL TAMAÑO DEL CAROUSEL, ESTABA MANIPULANDOLO POR OTRA CLASE
Y HACERLO DESDE AQUI ES MAS CONVENIENTE DE MOMENTO :P */
#carouselExampleFade{
    
    margin: auto;
    width: 40%;
}

